* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

header {
  padding: 24px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  gap: 64px;
}

header > * {
  width: 70%;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb
}

.header-content {
  display: flex;
  gap: 24px;
}

.header-content > * {
  flex: 1;
}

.header-text > * {
  margin-bottom: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1em;
}

.placeholder {
  background-color: #3f4550;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8
}

button {
  background-color: #3882f6;
  padding: 8px 24px;
  color: #f9faf8;
  border-radius: 0.8em;
  border: none;
}

.info {
  margin: 36px 0 60px 0;
  color:#1f2937;
}

h2 {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 16px;
}

.card-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-image {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 1em;
}

.card p {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 72px 0;
  color: #1f2937;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
}

figcaption {
  align-self: flex-end;
  font-weight: 900;
}

.quote > * {
  width: 50%;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.cta-container {
  padding: 60px 0 60px 0;
}

.cta-container > * {
  width: 60%;
}

.cta {
  margin: 0 auto;
  padding: 48px 72px;
  background-color: #3882f6;
  display: flex;
  color:#f9faf8;
  justify-content: space-between;
}

.cta button {
  border: 1px solid #f9faf8;
}

footer {
  padding: 36px;
  background-color: #1f2937;
  color: #f9faf8;
}

footer p {
  width: fit-content;
  margin: 0 auto;
}