*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

/* utility */
.dark-bg{
    background-color: #1f2937;
}
.white-bg{
    background-color:#ffffff
}
.light-bg{
    background-color: #e5e7eb;
}
.container{
    padding-inline: 200px;
}

/* header section */
.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* intro/hero section */
.intro-container{
    display: flex;
    gap: 25px;
    padding-block: 75px;
}
.hero-container{
    display:flex;
    flex-direction: column;
    gap: 15px;
}
.hero-header{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.hero-text{
    color: #e5e7eb;
    font-size: 18px;
}
.hero-button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding-block: 10px;
}
.hero-image{
    width: 700px;
    height: 250px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1f2937
}

/* info section */
.info-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 50px;
    gap: 25px;
    padding-inline: 75px;
}
h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.figure-set{
    display: flex;
}
.figure-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.figure-container figcaption{
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}
.figure{
    width: 150px;
    aspect-ratio: 1;
    border: 3px solid #3882f6;
    border-radius: 10px;
}
/* quote section */
.quote-container{
    padding-block: 75px;
    padding-inline: 100px;
}
blockquote p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937
}
.quote-cap {
    text-align: end;
    font-weight: 700;
    color: #1f2937;
}
/* cta section */
.cta{
    background-color: #3882f6;
    width: 100%;
    padding-block: 50px;
    margin-block: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    color:#f9faf8;
    font-weight: 700;
}
.cta-text p{
    margin-top: 5px;
    color:#e5e7eb;
    font-weight: 400;
}
.cta button{
    background-color:#3882f6;
    font-weight: 700;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    color:#f9faf8;
    width: 100px;
    height: 30px;
}